body {
    background-color: ghostwhite;
}

/* <!-- header --> */
.header {
    background: rgba(255, 255, 255, .75);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    z-index: 1000;
}

.col-logo {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.col-logo img {
    max-height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.row {
    align-items: center;
    margin-top: 10px;
}
.col-5 {
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
}
.col-5 a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
.col-5 a:hover {
    color: white;
    background-color: black;
    padding: 18px 10px;
}
.col-1 {
    text-align: right;
}
.col-2 {
    text-align: right;
}
/* <!-- header --> */
.critial img {
    margin: auto 35px;
}
.content p {
    font-size: 20px;
    margin: 25px 35px;
    margin-right: 100px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    margin-top: 10px;
    text-align: justify;
    line-height: 1.5;
}
.ppp {
    font-size: 25px;
    margin: 25px 35px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}
.imformation p {
    margin: 25px 35px;
}
.soyn {
    margin-top: 100px;
    margin-left: 35px;
    margin-bottom: 15px;
    font-family: 'Noto Sans TC', sans-serif;
}
.col-12 {
    text-align: center;
    margin: 5px;
    z-index: 1;
}
.col-12 img {
    transform-style: preserve-3d;
    transition-duration: 0.5s;
}

.col-12 img:hover {
    height: 500px;
}
.alert {
    margin: 14px 0px 0px 0px;
    border-radius: 0;
    border-color: white;
}

.alert p {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    text-align: center;
    padding: 15px;
}
.top {
    width: 60px;
    height: 170px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: fixed;
    bottom: 50px;
    right: 11px;
}
.top img:hover {
    height: 200px;
}

@media screen and (min-width: 480px) {
    .menu-btn {
        display: none;
    }
    .menu-box {
        display: none;
    }   
}